body{
    background-color: #ff1800;
    cursor: url('/img/cursor.png'), auto;
}

.head{
    margin-left: 0;
    margin-right: 0;
    min-width: 320px;
    border-bottom: solid black 2px;
    padding-right: 10px;
    position: fixed;
    top: 0;
    width: 100%;
}

#burguer{
    border-left: solid black 2px;
    max-width: 100px;
    max-height: 80px;
    min-width: 50px;
    min-height: 30px;
}

.menu{
    padding: 0;
}

.titulo{
    justify-content: left;
    align-items: center;
    display: flex;
    color: black;
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
}

#itens{
    display: none;
    color: black;
    padding-right: 10px;
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.menus{
    text-decoration: none;
    color: black;
}

#sobre{
    max-width: 800px;
    min-width: 300px;
    font-size: xx-large;
    font-family: "IM Fell English", serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    margin: auto;
}  

.textosobre{
    padding-top: 30px;
    margin-bottom: 20px;
    padding: 10px;
}

#conteudo{
    max-width: 800px;
    min-height: 92vh;
    padding-top: 80px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.lucky{
    max-width: 300px;
    margin: auto;
    min-width: 100px;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

#botao{
    max-width: 250px;
    max-height: 250px;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

.menus{
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
    align-items: center;
    padding: 50px;
    min-height: 100vh;
}

.abas{
    font-size: 14vw;
}

footer{
    font-family: "IM Fell English", serif;
    font-weight: 400;
    font-style: italic;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    display: flex;
    max-height: 100px;
    color: black;
    border-top: solid black 2px;
    position: fixed;
    bottom: 0;
    width: 100%;
}